*{
  background-color: #00008B;
  font-family: sans-serif;
  color: #fff;
}

p {
  text-align: center;
  min-height: 3.75rem;
}

button{
  width: 25rem;
  /*border: 2px solid #fff;*/
  cursor: pointer;
  padding: 5px;
  margin-top: 5px;
  text-align: center;
}

button.hover {
  background-color: #0cc;
  transition: all 200ms ease-out;
}

#root{
  width: 100%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-evenly;
}

.intro{
  padding-left: 20%;
  padding-right: 20%;
}

.player-card{
  width: 100px;
  height: 100px;
  margin: 1.25rem;
  border-radius: 50%;
  background-color: #ddd;
  text-align: center;
  line-height: 12.5rem;
  position: relative;
  display: inline-block;
  border: 2px solid #fff;
  opacity: 1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% auto;

}

.player-card:nth-child(2){
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.p1-idle{
  width: 68px;
  height: 75px;
  text-align: center;
  line-height: 12.5rem;
  position: relative;
  display: inline-block;
  border: 2px solid #fff;
  margin-top: 150px;
  animation: p1-idle 2s steps(7) infinite;
}

.p2-idle{
  width: 68px;
  height: 75px;
  text-align: center;
  line-height: 12.5rem;
  position: relative;
  display: inline-block;
  border: 2px solid #fff;
  margin-top: 150px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  animation: p2-idle 1s steps(6) infinite;
}

@keyframes p1-idle {
  from{background-position-x:0px;}
  to{background-position-x:-430px;}
}

@keyframes p2-idle {
  from{background-position-x:0px;}
  to{background-position-x:-375px;}
}

.cards{
  text-align: center;
}

.buttonsPlay{
  max-width: 50px;
}

.buttonsGroup{
  text-align: center;
}

.hud{
  font-size: 25px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
}

.sheldon{
  text-align: center;
  padding-top: 25px;
}



/* Flexbox */

#conteneur-flexbox{
  display : -webkit-box;
  display : -ms-flexbox;
  display : flex;
-ms-flex-wrap : wrap;
  flex-wrap : wrap;
-ms-flex-line-pack : stretch;
  align-content : stretch;
-webkit-box-align : stretch;
  -ms-flex-align : stretch;
  align-items : stretch;
  width: 100%;
}
#player-1{
  overflow : auto;
  -webkit-box-flex : 0;
  -ms-flex : 0 0 33.333%;
  flex : 0 0 33.333%;
  width : 33%;
  /*max-width : 100px;*/
}
#App{
  overflow : auto;
  -webkit-box-flex : 1;
  -ms-flex : 1 1 33.333%;
  flex : 1 1 33.333%;
  width : 33%;
}
#player-2{
  overflow : auto;
  -webkit-box-flex : 0;
  -ms-flex : 0 0 33.333%;
  flex : 0 0 33.333%;
  width : 33%;
  /*max-width : 100px;*/
}
/*
#flexbox-4{
  -webkit-box-flex : 0;
  -ms-flex : 0 0 100%;
  flex : 0 0 100%;
  max-width : 100%;
  min-width : 100%;
}
*/
