*{
  background-color: #0bb;
  font-family: sans-serif;
  color: #fff;
}

.intro{
  padding-left: 20%;
  padding-right: 20%;
}

/*.sheldon{
  background-image: url("./img/sheldon.gif");
}*/

#root{
  width: 80%;
  border: 2px solid #088;
  margin: 1rem auto;
  display: flex;
  justify-content: space-evenly;
}

.player-card{
  width: 12.5rem;
  height: 12.5rem;
  margin: 1.25rem;
  border-radius: 50%;
  background-color: #ddd;
  text-align: center;
  line-height: 12.5rem;
  position: relative;
  display: inline-block;
  border: 2px solid #fff;
  opacity: 1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% auto;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.player-card:nth-child(2){
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.buttonsPlay{
  max-width: 50px;
}

.buttonsGroup{
  text-align: center;
}

.hud{
  padding-bottom: 5px;
  text-align: center;
  font-size: 25px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

button{
  width: 25rem;
  border: 2px solid #fff;
  margin: 1.25rem auto;
  cursor: pointer;
  display: block;
  outline: none;
  padding: 1rem;
}

button.hover {
  background-color: #0cc;
  transition: all 200ms ease-out;
}

p {
  text-align: center;
  min-height: 3.75rem;
}
